/* roboto-400normal - latin */
@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Futura PT Regular'),
    url('./font/FuturaPTBook.otf') format('opentype'); /* Modern Browsers */
}

/* roboto-700normal - latin */
@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Futura PT Bold'),
    url('./font/FuturaPTBold.otf') format('opentype'); /* Modern Browsers */
}
